#page_header {
    text-align: center;
    background-color: blue;
    height: 40px;
    padding: 10px;
    width: 100%;
}

#logo {
    float: left;
}

#searchbar {
    border-radius: 10px;
    height: 30px;
    vertical-align: middle;
}

#categories_bar {

}

.navbar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar_li {
    float: left;
}

.navbar_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar_a:hover {
    background-color: #111;
}

.options_header {
    float: right;
    margin-right: 10px;
}

body {
    margin: 0;
}



