.navbar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar_li {
    float: left;
}

.navbar_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.navbar_a:hover {
    background-color: #111;
}

.categoriesbar_a:hover {
    background-color: darkblue;
}

.options_header {
    float: right;
    margin-right: 10px;
}

#page_header {
    background-color: blue;
}

#logo {
    float: left;
}

#searchbar {
    border-radius: 20px;
    border: 2px solid lightslategray;
    height: 40px;
    float: right;
}

#carrosel {
    background: red;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}




